.item {
  display: block;
  height: 50px;
  line-height: 46px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #efefef;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 0 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
  }
}
