.container {
  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    text-align: left;
    margin-bottom: -10px;
    .thead {
      .tr {
        .th {
          padding: 8px 15px;
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
      }
    }
    .tbody {
      .tr {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.2s ease;
        height: 55px;
        background-color: #ffffff;
        &:hover {
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
          transition-duration: 0.4s;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        .td {
          padding: 0 15px;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 400;
          color: #333333;
        }
      }
    }
  }
  .paginationContainer {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .pagination {
      &.active,
      &:hover {
        .paginationButton {
          color: #333333;
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
          transition-duration: 0.4s;
          .paginationButtonImage {
            opacity: 1;
            transition-duration: 0.4s;
          }
        }
      }
      .paginationButton {
        display: flex;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
        transition: 0.2s all ease;
        background-color: #ffffff;
        text-align: center;
        font-size: 14px;
        color: #cccccc;
        border: none;
        .paginationButtonImage {
          width: 16px;
          height: 16px;
          object-fit: contain;
          opacity: 0.25;
          transition: 0.2s opacity ease;
        }
      }
    }
  }
}
